.timelinePoint {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    &.even {
        flex-direction: row;
    }


    .imgContainer {
        z-index: 2;
        text-align: right;
        vertical-align: middle;
        max-width: 600px;
        padding: 50px 30px;
        width: 45%;

        @media (max-width: 700px) {
            width: 100%;
            text-align: center;
            padding: 10px;
        }

        div {
            display: inline-block;
            height: 250px;
            width: 250px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
    img {
        max-height: 100%;
        max-width: 100%;
    }

    .timelineTextContainer {
        z-index: 2;
        display: flex;
        vertical-align: middle;
        position: relative;
        padding: 50px 50px 50px 30px;
        width: 45%;
        max-width: 600px;
        
        @media (max-width: 700px) {
            width: 100%;
            padding: 5px;
        }
    }
    
    .timelineReference {
        display: none;
        line-height: 24px;
        overflow: auto;

        .tl-ref {
            margin-top: 20px;
            
            &-title {
                font-style: italic;
            }

            &-location {
                display: inline-block;
                margin-left: 40px;
            }
        }
    }

    .timelineText {
        position: relative;
        background-color: white;
        padding: 10px;
        border: 3px solid black;
        border-radius: 10px;
        max-width: 100%;

        &:hover {
            .timelineText-text {
                display: none;
            }
            .timelineReference {
                display: block;
                white-space: nowrap;
            }
        }
    }
    @media (min-width: 701px) {
        .timelineText:after, .timelineText:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .timelineText:after {
            border-color: rgba(255, 255, 255, 0);
            border-right-color: #fff;
            border-width: 15px;
            margin-top: -15px;
        }
        .timelineText:before {
            border-color: rgba(0, 0, 0, 0);
            border-right-color: #000;
            border-width: 19px;
            margin-top: -19px;
        }
    }

    h2 {
        margin-top: 0;
        font-weight: bold;
    }

    .timelineTick {
        line-height: 30px;
        color: #fff;
        z-index: 2;
       // position: absolute;
        cursor: pointer;
        left: 50%;
        //margin-left: -25px;
        //margin-top: -25px;
        //top: 50%;
        width: 10%;
        max-width: 50px;
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        padding: 10px 0;
        font-size: 18px;
        font-weight: bold;

        span {
            font-size: 11px;
            position: absolute;
            top: 24px;
            left: 13px;
        }
    }

    &.even {
        .imgContainer {
            text-align: left;
            @media (max-width: 650px) {
                text-align: center;
            }
        }
        
        .timelineTextContainer {
            padding: 50px 30px 50px 50px;
            @media (max-width: 700px) {
                padding: 10px;
            }
        }
        
        @media (min-width: 701px) {
            .timelineText:after, .timelineText:before {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .timelineText:after {
                border-color: rgba(255, 255, 255, 0);
                border-left-color: #fff;
                border-width: 15px;
                margin-top: -15px;
            }
            .timelineText:before {
                border-color: rgba(0, 0, 0, 0);
                border-left-color: #000;
                border-width: 19px;
                margin-top: -19px;
            }
    }
    }
}

.timelinePoint.tl-point {
    &--teal {
        h2 {
            color:#08B491;
        }

        .timelineTick {
            background-color: #08B491;
        }

        .timelineText,
        .imgContainer div {
            border-color:#08B491;
        }

        @media (min-width: 701px) {
            .timelineText:before {
                border-right-color: #08B491;
            }

            &.even {
                .timelineText:before {
                    border-left-color: #08B491;
                    border-right-color: transparent;
                }
            }
        }
    }

    &--yellow {
         h2 {
            color:#FCE14F;
        }

        .timelineTick {
            background-color: #FCE14F;
        }

        .timelineText,
        .imgContainer div {
            border-color: #FCE14F;
        }

        @media (min-width: 701px) {
            .timelineText:before {
                border-right-color: #FCE14F;
            }

            &.even {
                .timelineText:before {
                    border-left-color: #FCE14F;
                    border-right-color: transparent;
                }
            }
        }
    }

    &--orange {
         h2 {
            color:#FC931B;
        }

        .timelineTick {
            background-color: #FC931B;
        }

        .timelineText,
        .imgContainer div {
            border-color: #FC931B;
        }

        @media (min-width: 701px) {
            .timelineText:before {
                border-right-color: #FC931B;
            }

            &.even {
                .timelineText:before {
                    border-left-color: #FC931B;
                    border-right-color: transparent;
                }
            }
        }
    }
    
    &--pink {
         h2 {
            color:#D94F69;
        }

        .timelineTick {
            background-color: #D94F69;
        }

        .timelineText,
        .imgContainer div {
            border-color: #D94F69;
        }

        @media (min-width: 701px) {
            .timelineText:before {
                border-right-color: #D94F69;
            }

            &.even {
                .timelineText:before {
                    border-left-color: #D94F69;
                    border-right-color: transparent;
                }
            }
        }
    }   

    &--green {
         h2 {
            color:#97D15A;
        }

        .timelineTick {
            background-color: #97D15A;
        }

        .timelineText,
        .imgContainer div {
            border-color: #97D15A;
        }

        @media (min-width: 701px) {
            .timelineText:before {
                border-right-color: #97D15A;
            }

            &.even {
                .timelineText:before {
                    border-left-color: #97D15A;
                    border-right-color: transparent;
                }
            }
        }
    }

}



