.timeline {
    margin: 0 auto;
    position: relative;
    background: url("app/resources/images/crossword.png");
}

.line {
    z-index: 1;
    left: 50%;
    height: 100%;
    position: absolute;
    border-left: 5px dotted #ddd;
    margin-left: -3px;
}
