.timelinePoint {
  position: relative;
  display: table;
  width: 100%; }
  .timelinePoint .imgContainer {
    text-align: right;
    vertical-align: middle;
    display: table-cell;
    padding: 50px;
    width: 50%; }
    .timelinePoint .imgContainer div {
      display: inline-block;
      height: 250px;
      width: 250px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid black; }
  .timelinePoint img {
    height: 100%; }
  .timelinePoint .timelineTextContainer {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 50px;
    width: 50%;
    min-height: 300px; }
  .timelinePoint .timelineText {
    position: relative;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px; }
  .timelinePoint .timelineText:after, .timelinePoint .timelineText:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .timelinePoint .timelineText:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 15px;
    margin-top: -15px; }
  .timelinePoint .timelineText:before {
    border-color: transparent;
    border-right-color: #000;
    border-width: 19px;
    margin-top: -19px; }
  .timelinePoint h2 {
    margin-top: 0;
    font-weight: bold; }
  .timelinePoint .timelineTick {
    line-height: 30px;
    color: #fff;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold; }
  .timelinePoint.even .imgContainer {
    text-align: left; }
  .timelinePoint.even .timelineText:after, .timelinePoint.even .timelineText:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .timelinePoint.even .timelineText:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 15px;
    margin-top: -15px; }
  .timelinePoint.even .timelineText:before {
    border-color: transparent;
    border-left-color: #000;
    border-width: 19px;
    margin-top: -19px; }

.timelinePoint.tl-point--teal h2 {
  color: #08B491; }
.timelinePoint.tl-point--teal .timelineTick {
  background-color: #08B491; }
.timelinePoint.tl-point--teal .timelineText,
.timelinePoint.tl-point--teal .imgContainer div {
  border-color: #08B491; }
.timelinePoint.tl-point--teal .timelineText:before {
  border-right-color: #08B491; }
.timelinePoint.tl-point--teal.even .timelineText:before {
  border-left-color: #08B491;
  border-right-color: transparent; }
.timelinePoint.tl-point--yellow h2 {
  color: #FCE14F; }
.timelinePoint.tl-point--yellow .timelineTick {
  background-color: #FCE14F; }
.timelinePoint.tl-point--yellow .timelineText,
.timelinePoint.tl-point--yellow .imgContainer div {
  border-color: #FCE14F; }
.timelinePoint.tl-point--yellow .timelineText:before {
  border-right-color: #FCE14F; }
.timelinePoint.tl-point--yellow.even .timelineText:before {
  border-left-color: #FCE14F;
  border-right-color: transparent; }
.timelinePoint.tl-point--orange h2 {
  color: #FC931B; }
.timelinePoint.tl-point--orange .timelineTick {
  background-color: #FC931B; }
.timelinePoint.tl-point--orange .timelineText,
.timelinePoint.tl-point--orange .imgContainer div {
  border-color: #FC931B; }
.timelinePoint.tl-point--orange .timelineText:before {
  border-right-color: #FC931B; }
.timelinePoint.tl-point--orange.even .timelineText:before {
  border-left-color: #FC931B;
  border-right-color: transparent; }
.timelinePoint.tl-point--pink h2 {
  color: #D9484C; }
.timelinePoint.tl-point--pink .timelineTick {
  background-color: #D9484C; }
.timelinePoint.tl-point--pink .timelineText,
.timelinePoint.tl-point--pink .imgContainer div {
  border-color: #D9484C; }
.timelinePoint.tl-point--pink .timelineText:before {
  border-right-color: #D9484C; }
.timelinePoint.tl-point--pink.even .timelineText:before {
  border-left-color: #D9484C;
  border-right-color: transparent; }
.timelinePoint.tl-point--green h2 {
  color: #97D15A; }
.timelinePoint.tl-point--green .timelineTick {
  background-color: #97D15A; }
.timelinePoint.tl-point--green .timelineText,
.timelinePoint.tl-point--green .imgContainer div {
  border-color: #97D15A; }
.timelinePoint.tl-point--green .timelineText:before {
  border-right-color: #97D15A; }
.timelinePoint.tl-point--green.even .timelineText:before {
  border-left-color: #97D15A;
  border-right-color: transparent; }

/*# sourceMappingURL=timelinePoint.component.css.map */
