.welcome {
	background-image: url('../../images/background.svg');
	background-attachment: fixed;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	text-align: center;

	.container {
		width: 100%;
		height: 100%;
	}

	.row {
		height: 100%;
		display: flex;
		align-items: center;
		& > div {
			width: 100%;
		}
	}

	.arrow {
		position: absolute;
		display: block;
		font-size: 40px;
		bottom: 10px;
		width: 100%;
		opacity: .5;
	}

	h1 {
		font-size: 40px;
		font-weight: 400;
		display: block;
		margin-bottom: 20px;
		letter-spacing: 10px;
		text-transform: uppercase;
	}

	p {
		font-size: 30px;
	}

	.contact-link {
		width: 80px;
		height: 80px;
		position: relative;
		text-align: center;
		overflow: hidden;
		display: inline-block;

		a {
			text-decoration: none;
			left: 0px;
			width: 100%;
			position: absolute;
			bottom: -25px;
			-webkit-transition: bottom 400ms; /* Safari */
			-moz-transition: bottom 400ms;
			-ms-transition: bottom 400ms;
			-o-transition: bottom 400ms;
			transition: bottom 400ms;
		}

		&:hover {
			a {
				display: block;
				bottom: 0px;
			}

			.label {
				color: #ffc95e;
			}

			.github {
				background-image: url('../../images/logos/GitHub--orange.png');
			}

			.linkedin {
				background-image: url('../../images/logos/linked-in--orange.png');
			}

			.email {
				background-image: url('../../images/logos/email--orange.png');
			}
		}
	}

	.label {
		margin-top: 5px;
		display: block;
		font-size: 15px;
		width: 100%;
	}

	.logo {
		display: block;
		margin: auto;
		width: 50px;
		height: 50px;
		background-size: 100% 100%; 
	}

	.github {
		background-image: url('../../images/logos/GitHub.png');

	}

	.linkedin {
		background-image: url('../../images/logos/linked-in.png');
	}

	.email {
		background-image: url('../../images/logos/email.png');
	}
}

