<section class="projects">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2>Projects</h2>
            <h3>Interactive map using D3.js</h3>
            <p>
                The majority of my experience has been through working on the Financial Times website. 
                One project that I am proud of is an interactive map I built using D3.js.
                This library enabled clients to instantiate an interactive map with just a couple lines of code.
                It provided an easy interface to work with, saving development time on future mapping projects.
            </p>
            <ul>
                <li>C#</li>
                <li>D3.js</li>
                <li>jQuery</li>
                <li>HTML5/CSS3</li>
            </ul>
            <h3><a href="/timeline">Timeline</a> for college course</h3>
            <p>
                During one of my college courses, I had an assignment to create a timeline of the history of computers in PowerPoint, Word, or another format. 
                I thought it would be more interesting to build a website for this assignment. 
                In doing so I was able to not only learn about the history of computers, but also how to use Angular 2. 
            </p>
            <ul>
                <li>Angular 2</li>
                <li>Node.js</li>
                <li>HTML5/CSS3</li>
            </ul>
            <h3>My next project?</h3>
            <p>
                I will be starting on a scheduling app for college students using React.js. This will allow me to learn something new while 
                also providing myself with a tool that I can use for my own college courses.
            </p>
          </div>
        </div>
    </div>
</section>