<section class="projects">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2>Projects</h2>
            <p>
                The majority of my experience has been through working on the Financial Times website. 
                One project that I am proud of is an <a href="//markets.ft.com/data/world">interactive map</a> I built using D3.js.
            </p>
            <!--<p>
                I have also recently enrolled in college again to pursue a Bachelor's Degree in Computer Science. 
                I had an assignment to create a timeline of the history of computers in PowerPoint, Word, or another format. 
                I chose to build a webpage using Angular 2 which you can see <a href="/timeline">here</a>. 
            </p>-->
          </div>
        </div>
    </div>
</section>