<section class="projects">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2>Projects</h2>
            <p>
                The majority of my experience has been through working on the Financial Times website. 
                One project that I am proud of is an <a href="//markets.ft.com/data/world">interactive map</a> I built using D3.js.
            </p>
            <p>
                During one of my college courses, I had an assignment to create a timeline of the history of computers in PowerPoint, Word, or another format. 
                I thought it would be more interesting to build a website for this assignment. 
                In addition to learning about the history of computers, I was also able to learn how to use Angular 2.
                If you would like to check out the site I built for this assignment, you can see it <a href="/timeline">here</a>. 
            </p>
          </div>
        </div>
    </div>
</section>