<section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2>About me</h2>
            <p>
              My name is Kelsey Brisson, and I am a web developer. I have over two years of development experience building responsive websites for high-profile financial news companies.
              My specialty is front-end web development, and I strive to write code that is clear, performant, and maintainable.
              I am highly motivated and my love of learning has prompted me to pursue a Bachelor's degree in Computer Science while working full time.
            </p>
          </div>
        </div>
    </div>
</section>