<section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="photo">
            <img src="app/resources/images/me_.jpg">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h2>About me</h2>
          <p>
            My name is Kelsey Brisson, and I am a web developer. I have three years of development experience building responsive websites for high-profile financial news companies.
            My specialty is front-end web development, and I strive to write code that is clear, performant, and maintainable.
            I work to understand the client's needs in order to deliver a product they are excited about.
          </p>
          <p>
            I am highly motivated, and my love of learning has prompted me to pursue a Bachelor's degree in Software Engineering at Arizona State University while working full time. 
            So far, I have taken multiple SQL courses in order to gain a better understanding of back-end technologies, and I am looking forward to continuing my education.
          </p>
        </div>
      </div>
    </div>
</section>