<section class="full-screen welcome">
    <div class="container">
      <div class="row">
        <div>
          <div>
            <h1>Kelsey Brisson</h1>
              <p>
                Developer
              </p>
          </div>
          <div>
            <span class="contact-link">
              <a href="https://github.com/klbrisson">
                <span class="logo github"></span>
                <span class="label">GitHub</span>
              </a>
            </span>
            <span class="contact-link">
              <a href="https://www.linkedin.com/in/kelsey-brisson-84838688">
                <span class="logo linkedin"></span>
                <span class="label">LinkedIn</span>
              </a>
            </span>
            <span class="contact-link">
              <a href="mailto:klbrisson@gmail.com">
                <span class="logo email"></span>
                <span class="label">Email</span>
              </a>
            </span>
          </div>
          <span class="arrow">⇣</span>
        </div>
      </div>
    </div>
</section>

