.projects {
    position: relative;
    background-color: #fff;
    font-size: 24px;
    color: #787878;
    padding: 75px 0;
    text-align: center; 
    
     @media (max-width: 800px) {
        padding: 50px 0;
    } 

    h2 {
        display: inline-block;
        color: #4c6b7c;
        border-bottom: 3px solid #ffc95e;
        width: 172px;
        margin: 10px auto;
        line-height: 45px; 
    }
    
    p {
        font-weight: 200; 
    }

    a {
        color: #ffc95e;
    }
}