.projects {
    position: relative;
    background-color: #fff;
    font-size: 24px;
    color: #787878;
    padding: 75px 0;
    text-align: left; 
    @media (max-width: 800px) {
        padding: 50px 0;
    } 

    h2 {
        color: #4c6b7c;
        border-bottom: 3px solid #ffc95e;
        width: 172px;
        margin: 10px auto;
        line-height: 45px; 
        text-align: center;
    }

    h3 {
        color: #4c6b7c;
        font-size: 27px;
    }
    
    p, ul {
        margin-left: 25px;
        font-weight: 200; 
    }

    li {
        color: #ffc95e;
    }

    a {
        color: #4c6b7c;
        border-bottom: 2px solid #ffc95e;
        text-decoration: none;
        &:hover {
            color: #ffc95e;
        }
    }
}