.mainContainer {
   background-image: url("app/resources/images/crossword.png");
}
* {
    box-sizing: border-box;
}

.appContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    font-family: sans-serif;
    position: relative;
    //background-color: rgba(0,0,0,0.6);
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }