.mainContainer {
   // background-image: url("app/resources/images/blue-linen.png");
}
* {
    box-sizing: border-box;
}

.appContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    font-family: sans-serif;
    position: relative;
    //background-color: rgba(0,0,0,0.6);
}