@import 'welcome/welcome.component.css';
@import 'bio/bio.component.css';
@import 'tech/tech.component.css';
@import 'projects/projects.component.css';
@import 'contact/contact.component.css';

.loading {
    display: flex;
    align-items: center;
    height: 100%;

    .loadingIcon {
        margin: 0 auto;
        height: 150px;
        width: 150px;
        background-image: url("../images/loader.svg");
    } 
}