<section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <span class="contact-link">
            <a href="https://github.com/klbrisson">
              GitHub
            </a>
          </span>
          <span class="contact-link">
            <a href="https://www.linkedin.com/in/kelsey-brisson-84838688">
              LinkedIn
            </a>
          </span>
          <span class="contact-link">
            <a href="mailto:klbrisson@gmail.com">
              klbrisson@gmail.com
            </a>
          </span>
        </div>
      </div>
    </div>
</section>