<!--<div>
    <span>{{ref.author}}.</span>
    <span>({{ref.date}}).</span>
    <span class="tl-ref-title">{{ref.title}}.</span>
</div>
<span class="tl-ref-location">Retrieved from {{ref.url}}</span>-->

<div *ngIf="ref.type == 'internet'" class="tl-ref">
    <div>
        <span>{{ref.author}}.</span>
        <span>({{ref.date}}).</span>
        <span class="tl-ref-title">{{ref.title}}.</span>
    </div>
    <span class="tl-ref-location">Retrieved from {{ref.url}}</span>
</div>
<div *ngIf="ref.type == 'book'" class="tl-ref">
    <div>
        <span>{{ref.author}}.</span>
        <span>({{ref.date}}).</span>
        <span class="tl-ref-title">{{ref.title}}.</span>
    </div>
    <span class="tl-ref-location">{{ref.location}}: {{ref.publisher}}</span>
</div>
<div *ngIf="ref.type == 'image'" class="tl-ref">
    <div>
        <span *ngIf="ref.author != null">{{ref.author}}.</span>
        <span *ngIf="ref.date != null">({{ref.date}}).</span>
        <span class="tl-ref-title" *ngIf="ref.title != null">{{ref.title}}.</span>
        <span>[{{ref.subject}}]</span>
    </div>
    <span class="tl-ref-location">Retrieved from {{ref.url}}</span>
</div>