<h1>References</h1>
<div *ngFor="let reference of references;">
    <div *ngIf="reference.type == 'internet'" class="tl-ref">
        <div>
            <span>{{reference.author}}.</span>
            <span>({{reference.date}}).</span>
            <span class="tl-ref-title">{{reference.title}}.</span>
        </div>
        <span class="tl-ref-location">Retrieved from {{reference.url}}</span>
    </div>
    <div *ngIf="reference.type == 'book'" class="tl-ref">
        <div>
            <span>{{reference.author}}.</span>
            <span>({{reference.date}}).</span>
            <span class="tl-ref-title">{{reference.title}}.</span>
        </div>
        <span class="tl-ref-location">{{reference.location}}: {{reference.publisher}}</span>
    </div>
    
    <div *ngIf="reference.type == 'image'" class="tl-ref">
        <div>
            <span *ngIf="reference.author != null">{{reference.author}}.</span>
            <span *ngIf="reference.date != null">({{reference.date}}).</span>
            <span class="tl-ref-title" *ngIf="reference.title != null">{{reference.title}}.</span>
            <span>[{{reference.subject}}]</span>
        </div>
        <span class="tl-ref-location">Retrieved from {{reference.url}}</span>
    </div>
</div>